{
	email {$ACME_EMAIL}
}

chatmedbot.ru {
	encode zstd gzip
	handle {
		reverse_proxy landing:80
	}
}

api.chatmedbot.ru {
	encode zstd gzip

	@docs path /docs* /redoc* /openapi.json
	basic_auth @docs {
		{$DOCS_AUTH_USER} {$DOCS_AUTH_HASH}
	}

	reverse_proxy api:8000
}

devteam.chatmedbot.ru {
	encode zstd gzip

	@devteamApi path /api/devteam/*
	handle @devteamApi {
		reverse_proxy devteam:8090
	}

	handle {
		reverse_proxy devteam-ui:80
	}
}

lk.chatmedbot.ru {
	encode zstd gzip

	handle_path {$MONITOR_PATH}* {
		basic_auth {
			{$MONITOR_AUTH_USER} {$MONITOR_AUTH_HASH}
		}
		reverse_proxy netdata:19999
	}

	@apiPath path /api/v1/*
	handle @apiPath {
		reverse_proxy api:8000
	}

	@devteamPath path /api/devteam/*
	handle @devteamPath {
		reverse_proxy devteam:8090
	}

	handle {
		reverse_proxy frontend:80
	}
}
