{
	email {$ACME_EMAIL}
}

agentsapp.integration-ai.ru {
	encode zstd gzip

	@docs path /docs* /redoc* /openapi.json
	basic_auth @docs {
		{$DOCS_AUTH_USER} {$DOCS_AUTH_HASH}
	}

	reverse_proxy api:8000
}

front.agentsapp.integration-ai.ru {
	encode zstd gzip

	handle_path {$MONITOR_PATH}* {
		basic_auth {
			{$MONITOR_AUTH_USER} {$MONITOR_AUTH_HASH}
		}
		reverse_proxy netdata:19999
	}

	@apiPath path /api/v1/*
	handle @apiPath {
		reverse_proxy api:8000
	}

	handle {
		reverse_proxy frontend:80
	}
}
